@charset "EUC-KR";


table {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 300px;
	border: black solid 2px;
}

input, select, button {
	width: 90%;
	height: 40px;
	outline: none;
	background-color: transparent;
}

#len {
	color: red;
}

#size {
	color: green;
}

#temp {
	color: blue;
}

#spd {
	color: orange;
}